@using Shared
@using Shared.Statics.Models
@model GetAPIDTO
@{
    ViewData["Title"] = "Free API Store";
    ViewData["Footer-fixed"] = false;

}

<div style="width:700px; margin: 0 auto;">
    <div class="text-center">
        <section>
            <h3>API Documentation</h3>
            <p>For detailed information on using our APIs, including available endpoints, request parameters, and response formats, please refer to our official documentation:</p>
            <p><strong>Documentation:</strong> <a href="https://documenter.getpostman.com/view/34343442/2sA3JFCkNm" target="_blank">https://documenter.getpostman.com/view/34343442/2sA3JFCkNm</a>    </p>
        </section>

        <h3 class="text-danger">Important Notice:</h3>
        <section>
            <p>For your security and the protection of our data, all API endpoints require valid credentials (such tokens) to access them. Except Login and Resgisteration</p>
            <p>This ensures authorized use and prevents unauthorized access to our resources.</p>
        </section>
        <p>If you have any questions about accessing our APIs or need help with authentication, please refer to the documentation or contact our support team.</p>
        <p><a href="mailto:support.freeapistore@mailinator.com"></a></p>
    </div>
</div>





@* <div class="text-center">
    <p><strong>Documentation:</strong> <a href="https://documenter.getpostman.com/view/34343442/2sA3JFCkNm" target="_blank">https://documenter.getpostman.com/view/34343442/2sA3JFCkNm</a>    </p>
</div> *@
@* <style>
    .json {
        white-space: pre-wrap;
    }
</style>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <ul class="list-group list-group-flush">
                @foreach (var item in Model.GetAPIs)
                {
                    <li class="list-group-item"><strong>@item.GroupBy</strong></li>
                    foreach (var api in item.APIs)
                    {
                        var badge = string.Empty;
                        if (api.Method == enMethodType.Post)
                        {
                            badge = "badge-success";
                        }
                        else if (api.Method == enMethodType.Get)
                        {
                            badge = "badge-primary";
                        }
                        else if (api.Method == enMethodType.Put)
                        {
                            badge = "badge-warning";
                        }
                        else if (api.Method == enMethodType.Delete)
                        {
                            badge = "badge-danger";
                        }
                        <li class="list-group-item"><span class="badge @badge">@api.Method.ToString()</span><a href="?endpoint=@api.UniqueName" class="text-black"> @api.Name</a></li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="api-box mt-4">
            @{
                var badge_color = string.Empty;
                if (Model.API.Method == enMethodType.Post)
                {
                    badge_color = "badge-success";
                }
                else if (Model.API.Method == enMethodType.Get)
                {
                    badge_color = "badge-primary";
                }
                else if (Model.API.Method == enMethodType.Put)
                {
                    badge_color = "badge-warning";
                }
                else if (Model.API.Method == enMethodType.Delete)
                {
                    badge_color = "badge-danger";
                }
                <span class="badge @badge_color">@Model.API.Method.ToString()</span>
            }
            <span>@Model.API.Endpoint</span>
        </div>
        <div class="my-2">
            @if (!string.IsNullOrEmpty(Model.API.Request))
            {
                <div class="accordion" id="request">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRequest" aria-expanded="true" aria-controls="collapseRequest">
                                Request
                            </button>
                        </h2>
                        <div id="collapseRequest" class="accordion-collapse collapse" data-bs-parent="#request">
                            <div class="accordion-body">
                                <div class="request-box">
                                    <pre class="json">
                                        @Html.Raw(Model.API.Request)
                        </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div>
            <div class="accordion" id="response">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseResponse" aria-expanded="true" aria-controls="collapseResponse">
                            Response
                        </button>
                    </h2>
                    <div id="collapseResponse" class="accordion-collapse collapse" data-bs-parent="#response">
                        <div class="accordion-body">
                            <div class="request-box">
                                <pre class="json">
                                    @Html.Raw(Model.API.Response).ToString().Trim()
</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 *@